@use '@picocss/pico/scss/pico' with (
	$enable-semantic-container: true,
	$enable-viewport: false,
	$theme-color: 'purple',
	$modules: (
		// // Theme
		'themes/default': true,
		// // Layout
		// 'layout/document': false,
		// 'layout/landmarks': false,
		// 'layout/section': false,
		// 'layout/container': true,
		// 'layout/grid': true,
		// 'layout/overflow-auto': false,
		// // Content
		// 'content/typography': false,
		// 'content/link': false,
		'content/button': false,
		// 'content/table': true,
		// 'content/embedded': false,
		// 'content/code': false,
		// 'content/miscs': false,
		// // // Forms
		'forms/basics': false,
		// 'forms/checkbox-radio-switch': false,
		'forms/input-color': false,
		// 'forms/input-date': false,
		// 'forms/input-file': false,
		// 'forms/input-range': true,
		'forms/input-search': false,
		// // // Components
		// 'components/accordion': false,
		// 'components/card': false,
		// 'components/dropdown': false,
		// 'components/group': true,
		// 'components/loading': false,
		// 'components/modal': true,
		// 'components/nav': false,
		// 'components/progress': false,
		// 'components/tooltip': false,
		// // Utilities
		// 'utilities/accessibility': false,
		// 'utilities/reduce-motion': false
	)
);

@use 'components/_amount';
@use 'components/input-amount';
@use 'components/_priority-range';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '../components//Wallet/wallet.scss';

body {
	// background-color: #B5DBC9;
	color: white;
}

*:focus {
	outline: none;
}
